.metadata
.recommenders
RemoteSystemsTempFiles
Servers
spring-cloud-7simple
jhipster
.class
demo1
spring-cloud-rest-tcc-master

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradletasknamecache
.gradle/
build/
bin/

# vc
.svn
.git
